<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Player page</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" th:href="@{/css/jwplayer.vb-sdk-plugin.css}" />

<script type="text/javascript" th:src="@{/js/dist/jquery-1.9.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.voicebase.js}"></script>
<script type="text/javascript" th:src="@{/js/dist/jquery.zclip.js}"></script>

<!-- latest JWPlayer -->
<script type="text/javascript" src="http://jwpsrv.com/library/qhNfTJFiEeK7LSIACpYGxA.js"></script>
<script>
	var _LTracker = _LTracker || [];
	_LTracker.push({
		'logglyKey' : 'c46ea824-6d08-456e-9932-6b1ffe00ffae'
	});
</script>

<style type="text/css">
.content {
	width: 840px;
	margin: 0 auto;
}
</style>
</head>
<body>

	<div class="content">
		<div id="playerBlock"></div>
	</div>

	<script th:inline="javascript">
		var id = /*[[${id}]]*/;
		var extension = /*[[${extension}]]*/;
		
		jQuery(document)
				.ready(
						function() {
							jwplayer('playerBlock')
									.setup(
											{
												file : '/api/files/' + id + '/content.' + extension,
												primary : "html5",
												width : '100%',
												height : '480'
											});
							jQuery('#playerBlock')
									.voicebase(
											{
												playerId : 'playerBlock',
												playerType : 'jwplayer',
												apiUrl: '/api/wrapper/files/' + id ,
												token: 'notNeeded',
												mediaID : 'notNeeded',
												linebreak : '3',
												actionflag : {
													orderTranscript : false,
													favorite : false,
													evernote : false,
													share : false,
													remove : false,
													help : false,
												}
											});
						});
	</script>


</body>
</html>

